@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    background-color: #f8fafc;
  }
  
  #root {
    min-height: 100vh;
  }
}
